<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.core.common.mapper.OrderProductMapper" >
  <resultMap id="BaseResultMap" type="com.example.core.common.entity.OrderProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_no" property="productNo" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="estimate_rate" property="estimateRate" jdbcType="DECIMAL" />
    <result column="monthly_fee" property="monthlyFee" jdbcType="DECIMAL" />
    <result column="monthly_ratio" property="monthlyRatio" jdbcType="DECIMAL" />
    <result column="top_limit" property="topLimit" jdbcType="DECIMAL" />
    <result column="bottom_limit" property="bottomLimit" jdbcType="DECIMAL" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="profit_ratio" property="profitRatio" jdbcType="DECIMAL" />
    <result column="cumulative_profit" property="cumulativeProfit" jdbcType="DECIMAL" />
    <result column="buy_count" property="buyCount" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_no, product_name, level, estimate_rate, monthly_fee, monthly_ratio, top_limit, bottom_limit, description, total_amount,
    profit_ratio, cumulative_profit, buy_count, status, remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from w_order_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_order_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.core.common.entity.OrderProduct" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into w_order_product (product_no, product_name, level, estimate_rate,
    monthly_fee, monthly_ratio, top_limit, bottom_limit, description,
    total_amount, profit_ratio, cumulative_profit,
    buy_count, status, remark, create_time, update_time)
    values (#{productNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{estimateRate,jdbcType=DECIMAL},
    #{monthlyFee,jdbcType=DECIMAL}, #{monthlyRatio,jdbcType=DECIMAL}, #{topLimit,jdbcType=DECIMAL}, #{bottomLimit,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR},
    #{totalAmount,jdbcType=DECIMAL}, #{profitRatio,jdbcType=DECIMAL}, #{cumulativeProfit,jdbcType=DECIMAL},
    #{buyCount,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.core.common.entity.OrderProduct" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into w_order_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productNo != null" >
        product_no,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="estimateRate != null" >
        estimate_rate,
      </if>
      <if test="monthlyFee != null" >
        monthly_fee,
      </if>
      <if test="monthlyRatio != null" >
        monthly_ratio,
      </if>
      <if test="topLimit != null" >
        top_limit,
      </if>
      <if test="bottomLimit != null" >
        bottom_limit,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="profitRatio != null" >
        profit_ratio,
      </if>
      <if test="cumulativeProfit != null" >
        cumulative_profit,
      </if>
      <if test="buyCount != null" >
        buy_count,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="estimateRate != null" >
        #{estimateRate,jdbcType=DECIMAL},
      </if>
      <if test="monthlyFee != null" >
        #{monthlyFee,jdbcType=DECIMAL},
      </if>
      <if test="monthlyRatio != null" >
        #{monthlyRatio,jdbcType=DECIMAL},
      </if>
      <if test="topLimit != null" >
        #{topLimit,jdbcType=DECIMAL},
      </if>
      <if test="bottomLimit != null" >
        #{bottomLimit,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="profitRatio != null" >
        #{profitRatio,jdbcType=DECIMAL},
      </if>
      <if test="cumulativeProfit != null" >
        #{cumulativeProfit,jdbcType=DECIMAL},
      </if>
      <if test="buyCount != null" >
        #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.core.common.entity.OrderProduct" >
    update w_order_product
    <set >
      <if test="productNo != null" >
        product_no = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="estimateRate != null" >
        estimate_rate = #{estimateRate,jdbcType=DECIMAL},
      </if>
      <if test="monthlyFee != null" >
        monthly_fee = #{monthlyFee,jdbcType=DECIMAL},
      </if>
      <if test="monthlyRatio != null" >
        monthly_ratio = #{monthlyRatio,jdbcType=DECIMAL},
      </if>
      <if test="topLimit != null" >
        top_limit = #{topLimit,jdbcType=DECIMAL},
      </if>
      <if test="bottomLimit != null" >
        bottom_limit = #{bottomLimit,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="profitRatio != null" >
        profit_ratio = #{profitRatio,jdbcType=DECIMAL},
      </if>
      <if test="cumulativeProfit != null" >
        cumulative_profit = #{cumulativeProfit,jdbcType=DECIMAL},
      </if>
      <if test="buyCount != null" >
        buy_count = #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.core.common.entity.OrderProduct" >
    update w_order_product
    set product_no = #{productNo,jdbcType=VARCHAR},
        product_name = #{productName,jdbcType=VARCHAR},
        level = #{level,jdbcType=INTEGER},
        estimate_rate = #{estimateRate,jdbcType=DECIMAL},
        monthly_fee = #{monthlyFee,jdbcType=DECIMAL},
        monthly_ratio = #{monthlyRatio,jdbcType=DECIMAL},
        top_limit = #{topLimit,jdbcType=DECIMAL},
        bottom_limit = #{bottomLimit,jdbcType=DECIMAL},
        description = #{description,jdbcType=VARCHAR},
        total_amount = #{totalAmount,jdbcType=DECIMAL},
        profit_ratio = #{profitRatio,jdbcType=DECIMAL},
        cumulative_profit = #{cumulativeProfit,jdbcType=DECIMAL},
        buy_count = #{buyCount,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        remark = #{remark,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateBuyCount" parameterType="java.lang.Integer" >
    update
        w_order_product
    set
        buy_count = (
            select
                count(1)as num
            from
                w_order_info
            where
                product_id = #{id,jdbcType=INTEGER}
        )
    where
        id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateTotalAmount" parameterType="java.lang.Integer" >
    update
        w_order_product
    set
        total_amount = (
            select
                IFNULL(sum(ot.amount),0.0)as num
            from
                w_order_info as o
            left join
                w_order_trade as ot on ot.order_no = o.order_no
            where
                o.product_id = #{id,jdbcType=INTEGER}
        )
    where
        id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateEstimateRate" parameterType="java.lang.Integer" >
    update
        w_order_product
    set
        estimate_rate = (
            select
                IFNULL(sum(annualized_rate),0.0) / count(1)
            from
                w_order_info
            where
                product_id = #{id,jdbcType=INTEGER}
        )
    where
        id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectProductList" resultType="com.example.core.common.vo.product.ProductListVO">
    select
    id,
    product_no as productNo,
    product_name as productName,
    level,
    estimate_rate as annualRate,
    monthly_fee as monthlyFee,
    monthly_ratio as monthlyRatio,
    buy_count as buyCount,
    total_amount as totalAmount,
    profit_ratio as profitRatio
    from w_order_product
    where status = 0
    <if test="level != null and level != 0">
      and level = #{level}
    </if>
    order by level asc, id asc
  </select>


  <select id="selectProductDetail" resultType="com.example.core.common.vo.product.ProductDetailVO">
    select
      id,
      product_no as productNo,
      product_name as productName,
      level,
      estimate_rate as annualRate,
      monthly_fee as monthlyFee,
      monthly_ratio as monthlyRatio,
      description,
      top_limit as topLimit,
      bottom_limit as bottomLimit,
      cumulative_profit as cumulativeProfit
    from w_order_product
    where id = #{id} and status = 0
  </select>

  <select id="selectAdminProductList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from w_order_product
    <where>
      <if test="level != null">
        and level = #{level}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
    </where>
    order by level asc, id asc
  </select>
</mapper>
