<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.core.common.mapper.UserDiscountMapper" >
  <resultMap id="BaseResultMap" type="com.example.core.common.entity.UserDiscount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="discount" property="discount" jdbcType="DECIMAL" />
    <result column="config" property="config" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, discount, config, status, remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from w_user_discount
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from w_user_discount
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectByUserIdConfig" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from w_user_discount
    where user_id = #{userId,jdbcType=VARCHAR} and config = #{config,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_user_discount
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.core.common.entity.UserDiscount" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into w_user_discount (user_id, discount, config,
      status, remark, create_time, 
      update_time)
    values (#{userId,jdbcType=VARCHAR}, #{discount,jdbcType=DECIMAL}, #{config,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertBatch" parameterType="java.util.List" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
      insert into w_user_discount (user_id, discount, config,
      status, remark, create_time,
      update_time)
      value
    <foreach item="item" collection="list" separator="," >
      (#{item.userId,jdbcType=VARCHAR}, #{item.discount,jdbcType=DECIMAL}, #{item.config,jdbcType=VARCHAR},
      #{item.status,jdbcType=INTEGER}, #{item.remark,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.example.core.common.entity.UserDiscount" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into w_user_discount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="config != null" >
        config,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="config != null" >
        #{config,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.core.common.entity.UserDiscount" >
    update w_user_discount
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="config != null" >
        config = #{config,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.core.common.entity.UserDiscount" >
    update w_user_discount
    set user_id = #{userId,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=DECIMAL},
      config = #{config,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from
      w_user_discount
    where
      user_id = #{userId,jdbcType=VARCHAR}
    <if test="nodeId != null" >
      and config -> '$.nodeId' = #{nodeId,jdbcType=VARCHAR}
    </if>
    <if test="type != null" >
      and config -> '$.type' = #{type,jdbcType=VARCHAR}
    </if>
    <if test="client != null" >
      and config -> '$.client' = #{client,jdbcType=VARCHAR}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=INTEGER}
    </if>
  </select>

<!--  <select id="selectNumByUserIds" resultType="com.tk.core.common.vo.product.UserProductNumVO" parameterType="java.util.List">-->

<!--    select-->
<!--    IFNULL(count(1),0)as num,user_id as userId-->
<!--    from-->
<!--    w_user_discount-->
<!--    where-->
<!--    user_id in-->
<!--    <foreach item="item" collection="list" separator="," open="(" close=")">-->
<!--      #{item,jdbcType=VARCHAR}-->
<!--    </foreach>-->
<!--    group by user_id-->
<!--  </select>-->

</mapper>