<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.core.common.mapper.WalletIncomeMapper" >
  <resultMap id="BaseResultMap" type="com.example.core.common.entity.WalletIncome" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="block" property="block" jdbcType="BIGINT" />
    <result column="hash" property="hash" jdbcType="VARCHAR" />
    <result column="from_address" property="fromAddress" jdbcType="VARCHAR" />
    <result column="to_address" property="toAddress" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="gas_price" property="gasPrice" jdbcType="DECIMAL" />
    <result column="gas_limit" property="gasLimit" jdbcType="DECIMAL" />
    <result column="confirmations" property="confirmations" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, type, block, hash, from_address, to_address, amount, gas_price, gas_limit, 
    confirmations, status, remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from w_wallet_income
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_wallet_income
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.core.common.entity.WalletIncome" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into w_wallet_income (user_id, type, block, 
      hash, from_address, to_address, 
      amount, gas_price, gas_limit, 
      confirmations, status, remark, 
      create_time, update_time)
    values (#{userId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{block,jdbcType=BIGINT}, 
      #{hash,jdbcType=VARCHAR}, #{fromAddress,jdbcType=VARCHAR}, #{toAddress,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{gasPrice,jdbcType=DECIMAL}, #{gasLimit,jdbcType=DECIMAL}, 
      #{confirmations,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.core.common.entity.WalletIncome" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into w_wallet_income
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="block != null" >
        block,
      </if>
      <if test="hash != null" >
        hash,
      </if>
      <if test="fromAddress != null" >
        from_address,
      </if>
      <if test="toAddress != null" >
        to_address,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="gasPrice != null" >
        gas_price,
      </if>
      <if test="gasLimit != null" >
        gas_limit,
      </if>
      <if test="confirmations != null" >
        confirmations,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="block != null" >
        #{block,jdbcType=BIGINT},
      </if>
      <if test="hash != null" >
        #{hash,jdbcType=VARCHAR},
      </if>
      <if test="fromAddress != null" >
        #{fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="toAddress != null" >
        #{toAddress,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="gasPrice != null" >
        #{gasPrice,jdbcType=DECIMAL},
      </if>
      <if test="gasLimit != null" >
        #{gasLimit,jdbcType=DECIMAL},
      </if>
      <if test="confirmations != null" >
        #{confirmations,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.core.common.entity.WalletIncome" >
    update w_wallet_income
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="block != null" >
        block = #{block,jdbcType=BIGINT},
      </if>
      <if test="hash != null" >
        hash = #{hash,jdbcType=VARCHAR},
      </if>
      <if test="fromAddress != null" >
        from_address = #{fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="toAddress != null" >
        to_address = #{toAddress,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="gasPrice != null" >
        gas_price = #{gasPrice,jdbcType=DECIMAL},
      </if>
      <if test="gasLimit != null" >
        gas_limit = #{gasLimit,jdbcType=DECIMAL},
      </if>
      <if test="confirmations != null" >
        confirmations = #{confirmations,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.core.common.entity.WalletIncome" >
    update w_wallet_income
    set user_id = #{userId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      block = #{block,jdbcType=BIGINT},
      hash = #{hash,jdbcType=VARCHAR},
      from_address = #{fromAddress,jdbcType=VARCHAR},
      to_address = #{toAddress,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      gas_price = #{gasPrice,jdbcType=DECIMAL},
      gas_limit = #{gasLimit,jdbcType=DECIMAL},
      confirmations = #{confirmations,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByHash" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM w_wallet_income
    WHERE hash = #{hash}
    LIMIT 1
  </select>

</mapper>